/* sufian helps me with this */
/* and this w3school tuturial https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_fill-mode */
.card-container {
    animation-fill-mode: forwards; /* Ensures the animation retains its final state */
    transform: scale(1);
    transition: transform 0.3s ease-in;
}
.card-container:hover {
    transform: scale(1.15);
}