.modal {
    width: 100vw !important;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.472);
    height: 100vh;
    display: flex;
    align-content: center;
    justify-items: center;
    z-index: 101; /* for now we will fix this later i know the better approach will be createPortal for modal */
}

.modal_content {
    background-color: var(--ui-background-color);
    width:50vw;
    border-radius: 5px;
    padding: 1rem;
}

.close.icon:hover {
    opacity: 0.7;
    cursor: pointer;
}