.default-background-cover {
    background: linear-gradient(#da052c, #f78432);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
}


/* https://stackoverflow.com/questions/19192892/css-how-can-i-set-image-size-relative-to-parent-height */
.image {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.image_from_user {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 50%;
    min-width: 50%;
    transform: translate(-50%, -38%);
}